*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: blanchedalmond;
    box-sizing: border-box;
    padding: 10px;
}

h1 {
    color: red;
    padding: 10px;
}

h3 {
    background-color: dodgerblue;
    color: white;
}

.margin-bottom {
    margin-bottom: 10px;
}